@keyframes candle {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.bodyCandle {
  position: absolute;
  width: 22vw;
  height: 37vh;
  left: 82vw;
  top: 69vh;
}
body {
  background: black;
}

@keyframes bougie {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.container {
  width: 2vw;
  right: 7.2vw;
  bottom: 31vh;
  z-index: 80;
  position: absolute;
  transform-origin: center bottom;
  animation-name: flicker;
  animation-duration: 3ms;
  animation-delay: 200ms;
  animation-timing-function: ease-in;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.flame {
  bottom: 0;
  position: absolute;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
  border-top-left-radius: 50%;
  transform: rotate(-45deg) scale(1.5, 1.5);
}

.yellow {
  left: 1vw;
  width: 2vw;
  height: 4vh;
  background: gold;
  box-shadow: 0px 0px 9px 4px gold;
}

.orange {
  left: 0.5vw;
  width: 2.6vw;
  height: 5vh;
  background: orange;
  box-shadow: 0px 0px 9px 4px orange;
}

.red {
  left: 0.2vw;
  width: 3.3vw;
  height: 6.5vh;
  background: OrangeRed;
  box-shadow: 0px 0px 5px 4px OrangeRed;
}

.white {
  left: 1vw;
  bottom: -1vh;
  width: 2vw;
  height: 4vh;
  background: white;
  box-shadow: 0px 0px 9px 4px white;
}

.circle {
  border-radius: 50%;
  position: absolute;
}

.blue {
  width: 0.6vw;
  height: 1vh;
  left: 1.7vw;
  bottom: -2vh;
  background: SlateBlue;
  box-shadow: 0px 0px 15px 10px SlateBlue;
}

// .black{
//   width: 40px;
//   height: 40px;
//   left:10px;
//   bottom:-60px;
//   background: black;
//   box-shadow: 0px 0px 15px 10px black;
// }

@keyframes flicker {
  0% {
    transform: rotate(-1deg);
  }
  20% {
    transform: rotate(1deg);
  }
  40% {
    transform: rotate(-1deg);
  }
  60% {
    transform: rotate(1deg) scaleY(1.04);
  }
  80% {
    transform: rotate(-2deg) scaleY(0.92);
  }
  100% {
    transform: rotate(1deg);
  }
}
