@use "sass:math";
$totalSmokeParticles: 15;

.smoke-container {
  position: absolute;
  right: 22vw;
  top: 32vh;
  transform: translateX(-50%) translateY(-50%);
}

.smoke {
  opacity: 0.7;
  left: 50%;
  width: 20px;
  height: 20px;
  position: absolute;
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22106.271%22%20height%3D%22105.578%22%20viewBox%3D%220%200%20106.271%20105.578%22%3E%3Cpath%20fill%3D%22%23DCDCDC%22%20d%3D%22M106.271%2053.015c0-8.291-5.909-15.196-13.744-16.749%203.979-6.332%203.226-14.788-2.287-20.3-5.53-5.53-14.022-6.273-20.361-2.252-1.537-7.817-8.421-13.714-16.688-13.714-8.476%200-15.484%206.204-16.78%2014.315-6.142-4.032-14.47-3.351-19.87%202.049-5.353%205.354-6.062%2013.581-2.146%2019.707-8.161%201.338-14.395%208.404-14.395%2016.944%200%207.95%205.404%2014.62%2012.733%2016.586-3.961%206.691-3.086%2015.453%202.667%2021.205%205.913%205.913%2015.011%206.687%2021.767%202.335%201.836%207.147%208.304%2012.438%2016.024%2012.438%208.016%200%2014.7-5.694%2016.232-13.258%206.465%204.315%2015.284%203.624%2020.991-2.083%205.573-5.573%206.352-14.109%202.366-20.528%207.708-1.65%2013.491-8.494%2013.491-16.695z%22%2F%3E%3C%2Fsvg%3E");
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
}

$xPositions: 0, 12, 17, 24, 38, 45, 53, 66, 71, 89, 92;
$yPositions: -200, -203, -211, -219, -233, -246, -253, -259;

@mixin smokeAnimationKeyframes($id) {
  $randX: random(11);
  $randY: random(8);

  $x: nth($xPositions, $randX);
  $y: nth($yPositions, $randY);

  @keyframes smoke-#{$id} {
    0% {
      transform: none;
    }
    100% {
      opacity: 0;
      transform: translateX(#{$x}px) translateY(#{$y}px) scaleX(6) scaleY(6) scaleZ(3) rotate(180deg);
    }
  }
}

@mixin smokeAnimation($id) {
  animation: smoke-#{$id} 5s;
  animation-delay: #{math.div($id, 5)}s;
  animation-iteration-count: infinite;
}

@for $i from 1 through $totalSmokeParticles {
  @include smokeAnimationKeyframes($i);
  .smoke-#{$i} {
    @include smokeAnimation($i);
  }
}
