.mainTitle {
  display: flex;
  flex-direction: row;
  justify-content:center;
  align-items: center;
  color:#eec666;
  margin: 0;
  padding: 0;
  border-radius: 8rem;
  font-size: 7.5rem;
  text-shadow: 7px 6px 8px rgba(144, 157, 3, 0.879);
  opacity: 85%;
  margin-top: 5rem;
  }