@import url('https://fonts.cdnfonts.com/css/christmas-story');
//VARIABLES
//FONT
 $font-title: 'Christmas Story', sans-serif;
//COLORS
$bordeaux:#7d0214;

.mainTitle {
  font-family: $font-title;
  display: flex;
  flex-direction: row;
  justify-content:center;
  align-items: center;
  color:#eec666;
  margin: 0;
  padding: 0;
  border-radius: 8rem;
  font-size: 10rem;
  text-shadow:
      -2px -2px 0 $bordeaux,
      2px -2px 0 $bordeaux,
      -2px 2px 0 $bordeaux,
      2px 2px 0 $bordeaux;
  margin-top: 5rem;
  
  }