.mainTitle {
  display: flex;
  flex-direction: row;
  justify-content:center;
  align-items: center;
  color:#008cff;
  margin: 0;
  padding: 0;
  border-radius: 8rem;
  font-size: 6rem;
  text-shadow: 4px 4px 8px rgba(3, 90, 157, 0.879);
  opacity: 85%;
  }