body {
  margin: 0;
}
h1 {
  margin: 0;
}
.calendarMain {
  background-image: url("../../assets/santaClausBackground.png");
  background-size: 100% 100%;
  height: 95vh;
  padding-top: 3vh;
  padding-bottom: 2vh;
}

.returnToMain {
  font-size: 1.25vw;
  width: 2.5vw;
  height: 5vh;
  border: 2px solid #eec666;
  border-radius: 10px;
  color: #eec666;
  position: absolute;
  top: 6vh;
  right: 2vw;
  background: #7d0214;
  cursor: pointer;
}
