body {
  margin: 0;
}
.homeMain {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(9, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  background: url("src/assets/background.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 100vh;
  gap: 1rem;
}

.HomeTitle {
  grid-area: 1 / 1 / 3 / 10;
}
.CountdownTimer {
  grid-area: 7 / 3 / 9 / 5;
}
.Presentation {
  grid-area: 4 / 3 / 6 / 5;
}
.HouseHome {
  grid-area: 4 / 6 / 9 / 9;
}
audio {
  position: absolute;
  top: 10vh;
  opacity: 0;
  pointer-events: none;
}
.hi__santa {
  bottom: 0vh;
  height: 65vh;
  position: absolute;
}
