.pageconte {
  background-color: aqua;
  width: 25vw;
  height: 80vh;
}

.pageconte__titre {
  color: brown;
  text-align: center;
}
.pageconte__text {
  background-color: aliceblue;
  text-align: center;
  line-height: 1, 5em;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
