.pageconte {
  position: absolute;
  left: 19vw;
  top: 15vh;
  width: 30vw;
  height: 80vh;
}

.pageconte__titre {
  color: brown;
  text-align: center;
}
.pageconte__text {
  text-align: center;
  font-size: 1.1vw;
  line-height: 1em;
}
